/* BORDAS */

.bd-top {
  border-top: 1px solid;
}

.bd-bottom {
  border-bottom: 1px solid;
}

.bd-left {
  border-left: 1px solid;
}
.bd-right {
  border-right: 1px solid;
}

.bg {
  border: 1px solid;
}

.bd-color-vermelho-1 {
  border-color: var(--vermelho-1);
}

.bd-color-vermelho-2 {
  border-color: var(--vermelho-2);
}
.bd-color-preto-1 {
  border-color: var(--preto-1);
}
.bd-color-preto-2 {
  border-color: var(--preto-2);
}
.bd-color-preto-3 {
  border-color: var(--preto-3);
}
.bd-color-preto-4 {
  border-color: var(--preto-4);
}
.bd-color-preto-5 {
  border-color: var(--preto-5);
}
.bd-color-cinza-1 {
  border-color: var(--cinza-1);
}
.bd-color-cinza-2 {
  border-color: var(--cinza-2);
}
