@import "./colors/colors.scss";

.boxes
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
 
    .box{
        background-color:$color-dark-gray;
        width: 500px;
        height: 200px;
        border: 2px solid $color-black;
    }
}

.boxes-02
{
    margin: 20px 0px 0px 0px;
    display: grid;
    grid-template-areas: "item1 item2"
    "item3 item4 ";
    gap: 20px;
    justify-content: center;
    .box-02{
       width: 200px;
       height: 200px;
       border: 2px solid $color-black;
       background-color: $color-hot-pink;
    } 
    .item1 
    {
        grid-area: item1;
    }
    .item2
    {
        grid-area:item2;
    }
    .item3
    {
        grid-area: item3;
    }
    .item4
    {
        grid-area: item4;
    }
}