.btn-pequeno {
  width: 50px;
}
.btn-medio {
  width: 100px;
}

.btn-grande {
  width: 150px;
}
.btn {
  text-decoration: none;
  color: var(--cor-texto);
  font-weight: bold;
  cursor: pointer;
}

.btn-nav {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px 10px;
  transition: 0.8s ease;
  border-radius: 5px;
}

.btn-nav:hover {
  background: #bdbdc0;
  color: var(--preto-5);
}
.btn-menu {
  width: 100px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #171719;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  transition: 0.5s ease;
}
.btn-menu:hover {
  transform: scale(1.1);
}
.btn-1,
.btn-2 {
  width: 190px;
  height: 70px;
  font-size: 14px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid var(--vermelho-2);
  color: inherit;
  border-radius: 25px;
  cursor: pointer;
  transition: 1s background ease;
}
.btn-1:hover {
  background: var(--preto-3);
}

.btn-2 {
  background: var(--vermelho-2);
  border: none;
  box-shadow: 0px 0px 0px var(--vermelho-2);
  transition: 1s box-shadow ease;
}

.btn-3 {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-weight: 900;
  padding: 5px 10px;
  background: var(--vermelho-2);
  border: none;
}

@media (max-width: 400px) {
  .btn-1,
  .btn-2 {
    width: 140px;
  }
}
