* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
::selection {
  color: #7e0935;
}

::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #8b0000;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 2px;
}
#container {
  display: flex;
}
header#menu {
  width: 15%;
  background-color: #8b0000;
  display: flex;
  flex-direction: column;
  position:fixed;
  height: 100%;
  top: 0px;
}
 a[href="#1"] {
   color: 	#ffafc1;
}
footer { 
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: #8b0000;
  font-size: 1.4rem;
  color: #fff;
}

header#menu {
  display: flex;

}
header#menu nav ul {
  list-style: none;

}
nav ul a {
  text-decoration: none;
  padding: 10px;
  color: #FFF;
  font-size: 1.2rem;
  transition: 1s;
  
}
nav ul a:hover  {
  color: #ffafc1;
  opacity: 0.9;
}

nav {
  text-align: center;
  height: 100px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}


p {
  font-size: 1.3rem;
}
.texto {
  position: relative;
  left: 6%;
  width: 70%;
}
#figure {
  padding:10px;
  text-align: center;
}

#figure img {
  width: 50%;
  border-radius: 10%;
  border: 1px solid #8b0000;
  cursor: no-drop;
}
main {
  padding: 20px;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  line-height: 25px;

}

main header h1,
img {
  text-align: center;
}

main section figure {
   text-align: center;
}

main section figure img {
  width: 50%;
}

#botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  padding: 40px;
}
#botoes:hover {
  transform: scale(1.2, 1.18);
}
#botoes a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #dc143c;
  border: 0;
  border-radius: 5px;
}

@media ( max-width  :  776px ) {
  #container {
    flex-wrap: wrap;
  }
  #figure {
    display: none;
  } 
  header#menu {
    width: 100%;
    position: static;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  nav ul {
    position: relative;
    top: 40%;
    flex-direction: row;
  }
.texto {
  width: 90%;
  
}

}
