:root {
  --color-orange-01: #d47c29;
  --height-menu: 500px;
  --width-menu: 400px;
  --border: 2px solid #000;
  --border-02: 2px solid #58a6ff5b;
  --border-03: 2px solid #58a6ff;
  --color-white: #fff;
  --color-orange-02: #f57926;
  --color-blue-01: #2629f5;
  --color-blue-02: #58a6ff;
  --bg-body-color: #ddd;
  --color-black: #000;
  --transform-scale-01: scale3d(1.2, 1.2, 1.3);
  --transform-scale-02: scale3d(0.8, 1.1, 1.3);
  --focus-tag: #58a6ff;
  --template-area: "item1 item1 item1" "item2 item2 item2" "item3 item3 item3"
    "item4 item4 item4";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-body-color);
}
html {
  scroll-behavior: smooth;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
::selection {
  color: #7e0935;
  background-color: var(--color-white);
}

::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--color-orange-01);
}

body::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 2px;
}
#menu {
  display: flex;
  flex-direction: column;
  width: var(--width-menu);
  padding: 0px 1em;
  min-height: var(--height-menu);
  background-color: var(--color-orange-01);
  color: var(--color-white);
  border-right: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  border-radius: 0px 10px 10px 0px;
}

#banner {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/img/bart.jpg");
  background-position-y: -1px;
  background-repeat: round;
  border: var(--border);
  width: 70%;
  min-height: 180px;
  border-radius: 100%;
  cursor: pointer;
  transform: rotatey(45deg);
}
#banner:hover {
  transform: var(--transform-scale-02);
}

#dados {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-left: 30px;
  margin-right: auto;
  font-family: "Arial";
  cursor: no-drop;
}

.name {
  font-family: cursive;
  cursor: no-drop;
}
#container {
  display: flex;
}
p a {
  text-decoration: none;
  transition: 1s;
  color: var(--text-color);
  font-weight: 200;
  font-size: 17px;
  opacity: 0.8;
}

h2 a {
  text-decoration: none;
  transition: 1s;

  font-weight: 200;
  color: var(--title-color);
  opacity: 0.8;
}
p a:hover {
  color: var(--color-black);
}

.redes-sociais {
  display: flex;
  column-gap: 20px;
  flex-basis: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.github,
.instagram {
  display: flex;
  align-items: center;
}

.img-01:hover,
.img-02:hover {
  border-radius: 50%;
  transform: var(--transform-scale-01);
}
#jobs {
  display: grid;
  border: var(--border-02);
  grid-template-areas: var(--template-area);

  width: 500px;
  height: 430px;
  margin-top: 40px;
  padding: 0px 1em;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
.trabalhos {
  padding: 10px;
}
.item {
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 10px;
  border-top: var(--border);
  width: 180%;
}
.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
  border-bottom: var(--border);
  width: 180%;
}
.item4 {
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 10px;
  border-bottom: var(--border);
  width: 180%;
  grid-area: item4;
}

.item a,
.item4 a {
  color: var(--color-black);
  opacity: 0.7;
  font-size: 25px;
  text-decoration: none;
  transition: 1s;
}

.item a:hover,
.item4 a:hover,
h2 a:hover {
  transition: 1.2s;
  color: var(--color-blue-02);
  opacity: 0.6;
}

.projetos {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  min-height: 550px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-black);
  border: var(--border-02);
  margin-bottom: 15px;
  border-radius: 2%;
}

.itens-01 {
  background: var(--color-white);
  width: 280px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  border: var(--border-03);
  text-align: center;
}

.tech {
  display: flex;
  margin-left: 70px;
  padding: 20px;
  width: 200px;
}

img:hover {
  transform: var(--transform-scale-01);
}

.text {
  padding: 30px;
}

.container {
  background-color: var(--color-orange-02);
  opacity: 0.8;
  height: 100px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 10px 10px 0px 0px;
  width: 280px;
}

.container-02 {
  background-color: var(--color-blue-01);
  opacity: 0.8;
  height: 100px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 10px 10px 0px 0px;
  width: 280px;
}
.tech-02 {
  display: flex;
  margin-left: 100px;
  padding: 20px;
  width: 200px;
}

@media (max-width: 910px) and (min-width: 300px) {
  #jobs {
    width: 400px;
  }
  .item3,
  .item4,
  .item {
    width: 120%;
  }
}


