header {
  background-color: #161b22;
  padding-top: 15px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0d1117;
}

::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1d1e22;
}

body::-webkit-scrollbar-thumb {
  background-color: #30363d;
}

#title1 {
  color: red;
  font-style: oblique;
  margin-left: 505px;
  cursor: pointer;
  position: relative;
  top: -9px;

  width: 30px;
  animation: infinite infinito2 6s;
}

@keyframes infinito2 {
  20% {
    text-shadow: 2px 2px 13px black;
    text-decoration: line-through white;
  }
}

#title2 {
  color: white;
  font-style: oblique;
  margin-top: -28px;
  margin-left: 543px;
  position: relative;
  top: -7px;
  cursor: pointer;

  width: 49px;
  animation: infinite infinito 3s;
}

@keyframes infinito {
  20% {
    transform: translateY(20deg);
    text-shadow: 2px 2px 23px black;
  }
}
* {
  text-decoration: none;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 130px;
  position: relative;
  top: -40px;
  background: #162447;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.menu .btn {
  display: block;
  padding: 1rem;
  border-bottom: solid 1px #1b1b2f;
  background-color: rgb(1, 4, 9);

  position: relative;
}

.menu .submenu {
  background: #1b1b2f;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-out;
}

.menu .submenu a {
  display: block;
  padding: 1rem;
  position: relative;
}

.menu .submenu a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: #e43f5a;
  opacity: 0;
  transition: all 0.5s;
}

.menu .submenu a:hover {
  padding-left: calc(1rem + 5px);
}

.menu .submenu a:hover::before {
  opacity: 1;
}

.item:target .submenu {
  max-height: 20rem;
}

.menu1 {
  position: relative;
  background-color: transparent;
}
.posicao {
  display: contents;
  position: relative;
  left: 20px;
}

code {
  color: blue;
}

pre {
  font-size: 15px;
  border: 1px solid blue;
  width: 200px;
}
.artigo {
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.borda {
  border-top: 1px solid #30363d;
  margin: 0px 100px;
}

.final2 {
  color: #58a6ff;
  margin: -20px 222px;
  font-size: 12px;
  display: inline-flex;
  cursor: pointer;
  list-style: none;
}

.final {
  margin-left: -100px;
  color: #8b949e;
  font-size: 12px;
  pointer-events: none;
}

.final3 {
  color: #58a6ff;
  margin-left: 12px;
}
.final3:hover {
  border-bottom: 1px solid #58a6ff;
}
@media (max-width: 1200px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 403px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 443px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}

@media (max-width: 900px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 303px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 343px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}

@media (max-width: 800px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 303px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 343px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}

@media (max-width: 750px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 303px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 342px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}

@media (max-width: 600px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 303px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 342px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}

@media only screen and (max-width: 300px) {
  .artigo {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #title1 {
    color: red;
    font-style: oblique;
    margin-left: 183px;
    cursor: pointer;

    position: relative;
    top: -8px;
    width: 30px;
    animation: infinite infinito2 6s;
  }
  #title2 {
    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 220px;
    position: relative;
    top: -7px;
    cursor: pointer;
    width: 49px;
    animation: infinite infinito 3s;
  }
  artigo {
    margin: 0px 80px;
    display: flex;
    flex-direction: column;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .final3:hover {
    border-bottom: 1px solid #58a6ff;
  }
}
