@import url( "/sobre/main.css");
 
img[ alt="Aymen-Jogador"] {
    width: 400px;
}

section#lista {
    display:grid;
    justify-content: center;
    gap: 50px;
    position: relative;


}
