@import url( "/sobre/main.css");
 
img[ alt="Aymen-Jogador"] {
    width: 400px;
}

section#lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}
section#lista div {
    display: grid;
    gap: 30px;
}
