/*Alinhamento próprio do item  de um flexbox ou grid*/
.align-self-center {
  align-self: center;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-flex-start {
  align-items: flex-start;
}
.align-self-stretch {
  align-items: stretch;
}
