body.onload {
  color: var(--cor-texto-primario);
  text-shadow: 5px 0px 5px var(--cor-vermelho-1),
  -5px 0px 20px var(--cor-preto-4);
  font-size: 25px;
  cursor: pointer;
}
body.onload div.onload {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.onload h1 {
  font-size: 2.4rem !important;
}
body.onload header,
body.onload main,
body.onload footer,
body.onload aside,
body.onload section {
  display: none;
}
