* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  display: flex;
  padding: 20px;
  background-color: #161b22;
}
.container {
  display: flex;
  justify-content: center;
  flex-basis: 200vh;
  color: #fff;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
body {
  background-color: #0d1117;
}
html {
  scroll-behavior: smooth;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: #fafafa;
  font-family: "Courier New", Courier, monospace;
}
::selection {
  color: #7e0935;
  background-color: white;
}

::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background: #1d1e22;
}

body::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 10px;
}

.back {
  color: #f70606;
  text-shadow: 2px 4px 20px #f70606;
}

.front {
  color: #ff98bf;
  text-shadow: 2px 4px 20px #ff98bf;
}

#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 4px;
  opacity: 1;
  width: 40px;
  background-color: #eeeeee;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0px 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  color: #f70606;
  font-weight: 900;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background-color: #fafafa;
  border-radius: 100%;
  transition: 0.4s;
}

.change {
  display: flex;
  flex-direction: column;
}

.change .bar {
  background-color: #8b1010;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-40deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(40deg);
}

.change-bg {
  width: 620px;
  height: 560px;
  transform: translate(-65%, -40%);
}

.container-01 {
  display: grid;
  min-height: 10vh;
  background-color: #010409;
  justify-content: center;
  align-items: center;
  color: #ffff;
  border-top: 1px solid #8b1010;
  border-bottom: 1px solid #8b1010;
}

.container-02 {
  display: grid;
  margin: 40px;
  color: #ffff;
  gap: 20px 0px;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3";
}
.item {
  border-left: 1px groove #ffff;
  padding: 20px;
}
.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}

.item1 > h2 {
  color: orange;
  text-shadow: 2px 4px 20px orange;
}
.item2 > h2 {
  border-bottom: 1px groove blue;
  width: 43px;
  text-shadow: 2px 3px 23px blue;
  color: blue;
}
.item3 > h2 {
  border-bottom: 1px groove #6e7681;
  width: 43px;
  color: #6e7681;
  text-shadow: 2px 3px 23px #6e7681;
}

p {
  font-family: monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.container-03 {
  display: flex;
  flex-wrap: wrap;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-3";
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  font-family: monospace;
}

.item-01 {
  grid-area: item-1;
}
.item-02 {
  grid-area: item-2;
}

.item-03 {
  grid-area: item-3;
}
.item001 {
  background-color: #010409;
  padding: 3%;
  width: 400px;
  border: 2px groove #fff;
  line-height: 20px;
  border-radius: 5%;
}

footer {
  display: flex;
  justify-content: center;
}
.linha {
  color: #58a6ff;
  width: 80%;
  height: 2px;
  color: #161b22;
  border-top: 1px solid #30363d;
}
.links > a {
  color: #58a6ff;
  text-decoration: none;
}
.links {
  display: flex;
  gap: 15px;
}

.links > a:hover {
  text-decoration: underline;
}
