// Preto 

$color-black : 	#000000;

// Cinza 
$color-gray : 	#808080;
$color-dark-gray : #A9A9A9;
$color-light-grey : #D3D3D3;    

// Azul 

$color-slate-blue : #6A5ACD;
$color-dark-slate-blue : 	#483D8B;
$color-navy : #000080; 
$color-dark-blue : 	#00008B;
$color-blue : #0000FF;
$color-deep-sky-blue : #00BFFF;
$color-sky-blue : #87CEEB;
$color-steel-blue : 	#4682B4;

// Ciano 

$color-aqua : 	#00FFFF;
$color-light-sea-green : 	#20B2AA;
$color-dark-ciano : 	#008B8B;
$color-teal : #008080;
$color-aqua-marine : 	#7FFFD4;
$color-cadet-blue : 	#5F9EA0;

// Verde 

$color-dark-slate-green : 	#2F4F4F;
$color-spring-green : 	#00FF7F;
$color-light-green : 	#90EE90;
$color-dark-sea-green : 	#8FBC8F;

//Marrom 

$color-peru : 	#CD853F;
$color-golden-rod : #DAA520;
$color-chocolate : #D2691E;

//Roxo 

$color-medium-slate-blue : #7B68EE;
$color-blue-violet : #8A2BE2;
$color-indigo : 	#4B0082;
$color-dark-violet : #9400D3;
$color-purple : #A020F0;
$color-violet : #EE82EE;

// Rosa 

$color-hot-pink : #FF69B4;
$color-crimson : #DC143C;
$color-deep-pink : 	#FF1493;

// Vermelho 

$color-maroon : #800000;
$color-dark-red : 	#8B0000;
$color-red : 	#FF0000;
$color-coral : 	#FF7F50;
$color-tomato : #FF6347;

// Laranja 

$color-orange-red : #FF4500;
$color-dark-orange : 	#FF8C00;
$color-orange : 	#FFA500;

//Amarelo 

$color-gold : #FFD700;
$color-yellow : 	#FFFF00;
$color-khaki : 	#F0E68C;

// Pastel-light colors 


$color-white : #fff;
$color-snow : 	#FFFAFA;
$color-beige : 	#F5F5DC;
$color-bisque : 	#FFE4C4;
$color-pale-golden-rod : 	#EEE8AA;
$color-thistle  : 	#D8BFD8;
$color-light-cian : 	#E0FFFF;
$color-powder-blue : 	#B0E0E6;