@import url("../variaveis/var.css");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202123;
}

::-webkit-scrollbar-thumb {
  background: #f64348;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte);
}

::-moz-selection {
  background: var(--selectionCor);
}

::selection {
  background: var(--selectionCor);
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  color: var(--corTexto);
  overflow-x: hidden;
  background: var(--corFundoPrincipal);
}

body *:not(header, main, footer) {
  transform: translateY(100%);
  animation: 1s windowLoadEffect forwards;
}

.onload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.onload progress[value]::-webkit-progress-value {
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.onload progress {
  width: 200px;
  height: 10px;
  background-color: #fff;
}

@keyframes windowLoadEffect {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
button {
  font-weight: bold;
}

#header,
#footer {
  background: var(--corFundoNav);
  color: var(--corTexto);
  min-height: 50px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
#header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
#header ul li {
  padding: 5px 10px;
  border: 1px solid var(--corBordaBotao);
  background: var(--corFundoBotao);
  border-radius: 5px;
  transition: 0.8s ease;
}
#header ul li:hover {
  background: var(--corBotaoHover);
}
#header ul li a {
  text-decoration: none;
  color: var(--corTexto);
}
#header #title-header {
  text-align: center;
}
#header #title-header h1 {
  cursor: pointer;
}

#main {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
#main #information {
  display: flex;
  flex-direction: column;
  gap: 70px;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}
#main #information p {
  font-size: 1.2rem;
}
#main .mark {
  color: var(--corTitulo);
}
#main #container {
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
#main #container .section-template-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
#main #container .section-template-flex .btn {
  width: 250px;
  height: 70px;
  font-size: 14px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid var(--corBordaBotao2);
  color: var(--corTexto);
  border-radius: 5px;
  cursor: pointer;
  transition: 1s background ease;
}
#main #container .section-template-flex .btn:hover {
  background: var(--corBotaoHover2);
}
#main #container .section-template-flex .btn:focus {
  box-shadow: 0px 0px 8px var(--corBordaBotao2);
}
#main .btn-mark {
  background: var(--corBordaBotao2) !important;
  border-color: transparent !important;
  box-shadow: 0px 0px 8px var(--corBordaBotao2);
}
#main .btn-mark:hover {
  background: var(--corFundoNav) !important;
  box-shadow: 0px 0px 2px var(--corTexto) !important;
}
#main .section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: justify;
  background-color: var(--sectionFundo);
  line-height: 30px;
  border-top: 1px solid var(--sectionBorderColor);
  border-bottom: 1px solid var(--sectionBorderColor);
  padding: 20px;
  gap: 15px;
}
#main .section .plano-gratuito {
  align-self: flex-start;
}

.div-template-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.div-template-flex .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
  width: 200px;
  background: var(--itemCor);
  border: 1px solid var(--itemBordaCor);
  border-radius: 5px;
  height: 150px;
  transition: 0.6s border-color ease;
}
.div-template-flex .item:hover {
  border-color: var(--corBordaBotao2);
}
.div-template-flex .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 350px;
  padding: 20px;
  background: var(--corFundoNav);
  border: 1px solid var(--itemBordaCor);
  border-radius: 20px;
  transition: 0.6s ease;
}
.div-template-flex .element:hover {
  border-color: var(--corBordaBotao2);
  background: var(--itemCor);
}
.div-template-flex .element .preco {
  display: grid;
  gap: 10px;
  text-align: center;
  margin-top: 100px;
}
.div-template-flex .element .preco .acess {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--corBordaBotao2);
  color: var(--corTexto);
  border: 0;
  border-radius: 5px;
}

.elements-container {
  padding: 20px;
}

#footer {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
#footer ul a {
  text-decoration: none;
  color: var(--corTexto);
}
#footer .icons img {
  cursor: pointer;
  width: 50px;
  height: 20px;
  transition: 1s scale ease;
}
#footer .icons img:hover {
  scale: 1.2;
}/*# sourceMappingURL=main.css.map */