@import url("../variaveis/var.css");
@import url("../onload/onload.css");
@import url("../scroll/scroll.css");
@import url("../layouts/layouts.css");
@import url("../secoes/secoes.css");
@import url("../itens/itens.css");
@import url("../padding/padding.css");
@import url("../margin/margin.css");
@import url("../text-align/text-align.css");
@import url("../font-size/font-size.css");
@import url("../cursor/cursor.css");
@mixin navegacaoEstilos {
  background: var(--cor-fundo-header-footer);
  color: var(--cor-texto-primario);
  min-height: 80px;
  max-height: 80px;
  padding: 0px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte);
}

::selection {
  background: var(--selection-cor);
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  color: var(--cor-texto-primario);
}

body {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  color: inherit;
  overflow-x: hidden;
  background: var(--cor-fundo-principal);
}

button {
  font-weight: bold;
}
/* header e footer */
#header,
#footer {
  @include navegacaoEstilos();
}
/* header */
#header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-cinza-1);
  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    li {
      padding: 5px 10px;
      border: 1px solid var(--cor-vermelho-1);
      background: var(--cor-fundo-botao);
      border-radius: 5px;
      transition: 0.8s ease;
      &:hover {
        background: var(--cor-vermelho-1);
      }
      a {
        text-decoration: none;
        color: var(--cor-texto-primario);
      }
    }
  }
}

/* main estilos */
#main {
  gap: 50px;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  #information {
    text-align: center;
    line-height: 20px;
    p {
      font-size: 1.2rem;
    }
  }
  .mark {
    color: var(--cor-titulo);
    font-weight: bold;
  }
  #container {
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    #btn-mark {
      background: var(--cor-vermelho-2);
      border-color: transparent;
      box-shadow: 0px 0px 8px var(--cor-vermelho-2);
      &:hover {
        background: var(--cor-fundo-header-footer);
        box-shadow: 0px 0px 2px var(--cor-texto-primario);
      }
    }
    .btn {
      width: 250px;
      height: 70px;
      font-size: 14px;
      padding: 5px 10px;
      background: transparent;
      border: 1px solid var(--cor-vermelho-2);
      color: inherit;
      border-radius: 5px;
      cursor: pointer;
      transition: 1s background ease;
      &:hover {
        background: var(--cor-preto-1);
      }
      &:focus {
        box-shadow: 0px 0px 8px var(--cor-vermelho-2);
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

/* box preços */
.box.container-template-flex-column {
  align-items: center;
  width: 350px;
  min-height: 350px;
  padding: 20px;
  background: var(--cor-fundo-header-footer);
  border: 1px solid var(--cor-cinza-1);
  border-radius: 20px;
  transition: 0.6s ease;
  &:hover {
    border-color: var(--cor-vermelho-2);
    background: var(--cor-preto-4);
  }
}

.preco {
  display: grid;
  gap: 10px;
  text-align: center;
  margin-top: 100px;
  .acess {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: var(--cor-vermelho-2);
    color: inherit;
    border: 0;
    border-radius: 5px;
  }
}

/* footer  estilos */
#footer {
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--cor-cinza-1);
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    a {
      text-decoration: none;
      color: var(--cor-texto-primario);
    }
  }
  .icons {
    img {
      cursor: pointer;
      width: 50px;
      height: 20px;
      transition: 1s scale ease;
      &:hover {
        scale: 1.2;
      }
    }
  }
}

@media (max-width: 500px) {
  .box.container-template-flex-column {
    width: 280px !important;
    height: 280px !important;
  }
}
