/*Obtendo os display através de classes*/
.display-flex-row-wrap {
  /* Display com o wrap para os elementos pularem de linha*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.display-flex-row-nowrap {
  /* Display sem o wrap para os elementos não pularem de linha*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-grid {
  display: grid;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}

.display-inherit {
  display: inherit;
}
.display-initial {
  display: initial;
}
