body.dark-theme {
    background-color: #1c1c1c;
    color: #fff;
}
#input{
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #333;
    text-align: end;
    padding: 5px 10px;
}
#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

#main{
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    background-color: #333;
    color: #fff;
}

div[data-game="false"] {
    pointer-events: none;
}

div[data-game="true"] {
    pointer-events: all;
}

.player {
    font-size: 23px;
}
