@import url("../fontes/fontes.css");
:root {
  --corFundoPrincipal: #121212;
  --corTexto: #fff;
  --corFundoNav: #1f1f1f;
  --corFundoBotao: #121212;
  --corBordaBotao: #ff0044;
  --corBotaoHover: #ff0044;
  --corBordaBotao2: #f64348;
  --corBotaoHover2: #1f1f1f;
  --corTitulo: #f64348;
  --fonte: "Josefin Sans", "Rajdhani", sans-serif;
  --selectionCor: #202123;
  --corLinks: #f64348;
  --sectionFundo: #1d1d1d78;
  --sectionBorderColor: #E5E5E52E;
  --itemCor: #131313;
  --itemBordaCor: #FFFFFF45;
}
