*
{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header 
{
    background-color: rgb(27, 15, 0);
    padding: 60px;
}
.itens-01
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header h1 
{
    color: #fff;
}
header p 
{
    font-size: 10px;
    text-align: center;
    color: rgb(83, 83, 83);
}
ul 
{
    display: flex;
    gap: 20px;
    list-style: none;
}
ul a 
{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    transition: 0.5s;
}
ul a:hover
{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background-color: rgb(175, 20, 59); 
}

[href="#link"]
{
    padding: 10px;
    background-color: rgb(175, 20, 59);
}
#container1
{

    height: 300px;
    padding: 50px;
    background-color: rgb(209, 65, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}
.title2 h1 
{
    color: #000;
}
.text1
{
    color: #000;
    text-align: center;
    width: 80%;
    line-height: 25px;
}
#container2
{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 120px;
    text-align: center;
}
.itens2
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.fa
{
    color: rgb(79, 34, 1);

}

.title3
{
    color: rgb(28, 15, 0);
    font-size: 21px;
}
.text2
{
    line-height: 25px;
}
.botao button 
{
    border: 0;
    background-color: rgb(175, 20, 59);
    padding: 18px 30px;
    color: #fff;
}

#container3
{
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    text-align: center;
}
.boxes
{
    display: flex;
    gap: 50px;
}
.box 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title5 
{
   
    color: rgb(28, 15, 0);
}
 .title5 h4{
    font-size: 14px;
    color:rgb(83, 79, 79);
}
#container3 h1 
{
    font-size: 38px;
    color: #000;
}
.text3 p
{
    color: rgb(83, 83, 83);
   font-size: 12px;
   line-height: 24px;
}
.botao2 button 
{
    border: 0;
    background-color: rgb(175, 20, 59);
    padding: 18px 50px;
    color: #fff;
}

footer 
{ 

    min-height: 400px;
    background-color: rgb(27, 15, 0);
}

.container4
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 190px;
    gap: 80px;
    align-items: center;
    height: 230px;

}

.title6 h4 
{
 text-align: center;
 color: #ddd6;
 font-size: 14px;
}
.icones 
{
    display: flex;
    gap: 80px;
}
.elements-finish
{
  
    text-align: center;
    padding: 50px;
    color: #ddd5;
    font-size: 12px;
}
.line
{
    display: flex;
    margin:auto;
    width: 80%;
    border-bottom:1px solid #ddd3 ;
}

.title4 h4 
{
    color: rgb(83, 83, 83);
    font-size: 14px;
}

