* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1b1f;
    color: #abc7ff;
    font-family: 'Work Sans', sans-serif;
}


header {
    background-color: #21242a;
    padding: 20px;
}

header h1 {
    margin: 0;
}


main {
    padding: 20px;
}

.saldo-container,
.acoes-container,
.transacoes-container {
    background-color: #21242a;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


.saldo {
    font-size: 24px;
}


.acoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.acoes div,
ul.transacoes-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


#add-saldo,
#remover-saldo,
li.dinheiro-adicionado,
li.dinheiro-removido {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-saldo,
li.dinheiro-adicionado {
    background-color: #008000;
}

#add-saldo:hover {
    background-color: #006600;
}

#remover-saldo,
li.dinheiro-removido {
    background-color: #800000;
}

#remover-saldo:hover {
    background-color: #660000;
}

.transacoes-lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

input {
    width: 220px;
    height: 40px;
    background-color: #1a1b1f;
    border: 0;
    outline: 0;
    padding-left: 20px;
    color: #fff;
}