/*
azul escuro: rgb(2, 27, 38)
azul claro: rgb(195, 227, 245)

azul-botao: rgb(23, 176, 228)
    azul-link: rgb(9, 70, 92)

*/
*
{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(2, 27, 38);
}
html
{
    scroll-behavior: smooth;
}
main {
    width: 90%;
    margin: auto;
    background-color: #fff;
    

    
}
blockquote, main footer {
    background-color: rgb(195, 227, 245);
}

header {

    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 7%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
h1 strong 
{
    color: rgb(73, 104, 243);
}
nav ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    list-style:none;
}

a[href="#inicio"]
{
    color: rgb(9, 70, 92)
    ;
}
    


nav li {
    padding: 20px;
}

nav a {
    color:#fff;
    text-decoration: none;
    transition:  0.5s;
}
nav a:hover 
{
    color: rgb(9, 70, 92);
}
#banner 
{    position: relative;
    top: 20px;
    left: 5%;
    background-image: url('./img/surf.png');
    background-repeat: no-repeat;
    background-size:100%;
    padding: 5%;
    width: 80%;
    height: 500px;
    
  
}
.informations 
{
   
    color: #fff;
  
}
.informations h2 
{
   font-size: 50px;
   text-transform: uppercase;
}

.informations p 
{
    position:relative;;
    top: -30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
.container-01
{
   display: flex;
   gap: 50px 20px;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   top: 45px;
 
 }
.item 
{
    width: 200px;
    height: 250px;
    background-color:  rgb(73, 104, 243);
    padding: 5px 50px;
}
 .item > .title 
 {
    position: relative;
    top: -20px;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
   
 }
h3 + p 
{
    position: relative;
    top: -30px;
    color: #fff;
    font-size: 14px;
}
button 
{
    position: relative;
    top: 10px;
     background-color: rgb(23, 176, 228);
     border: none;
     padding: 10px;
     border-radius: 5px;  
     color: #fff;  
     cursor: pointer;
     transition: 0.8s;
}
button:hover 
{
    background-color: #ddd;
    color: #000;
}

.container-02
{
    position: relative;
    top: 20px;
    display: flex;
    min-height: 440px; 
    justify-content: center;
    align-items: center;
    gap: 30px 50px;
    justify-content: center;
    color:rgb(2, 27, 38); 
}

.box-01
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 900px;
    position: relative;
    left: 50px;
}

.box-01 p 
{
 font-size: 80%;
 line-height: 23px;
}

.box-02
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

blockquote
{
    padding: 20px;
    width: 50%;
    min-height: 200px;
}
footer div 
{
    color: #fff;
    text-align: center;
}
.link-01  li a 
{
  color: rgb(2, 27, 38);
}

.link-02 a 
{
    color: rgb(23, 176, 228);
}

.title 
{
    color: rgb(2, 27, 38);
    font-size: 28px;
    text-transform: uppercase
}