:root {
  --main-background-color: #24242a;
  --text-color: #fff;
  --navigation-color: rgba(255, 255, 255, 0.08);
  --white-1: #fff;
  --red-1: #ff0044;
  --red-2: #f64348;
  --red-3: #d54857;
  --black-1: #1f1f1f;
  --black-2: #131313;
  --black-3: #1b1b1b;
  --black-4: #1d1d1d78;
  --black-5: #1c1c1c;
  --black-6: #1e1e1e;
  --black-7: #0a0908;
  --black-8: #000000;
  --gray-1: #ffffff45;
  --gray-2: #e5e5e52e;
  --gray-3: #464646;
  --gray-4: #2e2e35;
  --gray-5:  rgba(255, 255, 255, 0.5);
  --blue-1: #1f1f24;
  --selection-color: #202123;
  --input-text-color: #c1c1c1;
  --fonte-site: "Manrope";
}
