* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  color: #fff;

  height: 100%;
}
body {
  background: url("img/floresta.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 50px;
}

.section-template-grid {
  transition: 0.4s ease-in-out;
  width: 100%;
  border-radius: 10px;
  color: #ddd;
  background: transparent;
  padding: 50px;
  height: 500px;
  opacity: 0.82;
  backdrop-filter: blur(35px);
}
.section-template-grid:hover{
  transform: scale(1.01);
}
#form {
  display: grid;
  gap: 20px;
}
.div-label{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.div-label input {
  background: #242424;
  border: 0;
  color: #fff;
  padding: 10px;
  outline: 0;
  text-align: end;
}
input:not(.div-label input) {
  cursor: pointer;
  transition: ease 1s;
  background: #242424;
  border: 0;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
}
input:not(.div-label input):hover {
  -webkit-box-shadow: 10px 10px 77px 0px rgb(166, 35, 35);
  -moz-box-shadow: 10px 10px 77px 0px rgb(255, 62, 62);
  box-shadow: 10px 10px 77px 0px rgb(175, 40, 40);
  scale: 1.1;
}
