* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  min-height: 100vh;
  background: darkgray;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(90px, auto);
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4"
    "item2 item5 item5"
    "item2  item6 item6";
    gap: 10px;
}

.item {
  border: 1px solid #000;
  background: #fff;
}

.item-1 {
  grid-area: item1;
}

.item-2 {
  grid-area: item2;
}
.item-3 {
  grid-area: item3;
}

.item-4 {
  grid-area: item4;
}
.item-5 {
  grid-area: item5;
}
.item-6 {
  grid-area: item6;
}
