/* MENU ESTILOS */

.menu {
  display: none;
}
.menu.active {
  animation: alternaOpacidade 1s forwards;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: var(--preto-1);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 70px;
  z-index: 1000;
  padding: 10px;
}
.menu-imagem {
  display: none;
  width: 30px;
  cursor: pointer;
}
.fechar-menu-img {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .menu-imagem {
    display: block;
  }
  header .nav-item {
    display: none;
  }
}
@keyframes alternaOpacidade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
