header {
    background-color: #161b22;
    padding-top: 15px;

}


* {
    padding: 0px;
    margin: 0px;
}

body {

    background-color: #0d1117;

}

::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1d1e22;
}

body::-webkit-scrollbar-thumb {
    background-color: #30363d;


}

#title1 {
    color: red;
    font-style: oblique;
    margin-left: 505px;
    cursor: pointer;
    position: relative;
    top: -9px;

    width: 30px;
    animation: infinite infinito2 6s;


}

@keyframes infinito2 {

    20% {
        text-shadow: 2px 2px 13px black;
        text-decoration: line-through white;
    }


}


#title2 {


    color: white;
    font-style: oblique;
    margin-top: -28px;
    margin-left: 543px;
    position: relative;
    top: -7px;
    cursor: pointer;

    width: 49px;
    animation: infinite infinito 3s;

}



@keyframes infinito {


    20% {

        transform: translateY(20deg);
        text-shadow: 2px 2px 23px black;

    }

}

.titulo {
    background-color: #010409;
    position:-webkit-sticky;
    top: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    text-align: center;
    padding: 17px;
    padding-right: 70px;
    cursor: pointer;
}

.front {
    color: orange;
    text-decoration: underline;
    text-shadow: 2px 2px 18px orange;

}

.back {
    color: blue;
    text-decoration: underline;
    text-shadow: 2px 2px 18px blue;

}

.full {

    color: red;
    text-decoration: underline;
    text-shadow: 2px 2px 18px red;

}


.icon {

    position: relative;
    top: 40px;
    display: table-cell;
    width: 70px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;


}

.span1 {
    border: 2px solid white;
    padding: 2px;
    border-radius: 20px;
    pointer-events: painted;
    background-color: black;

}

.span2 {
    border: 2px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: red;
}

.span3 {
    border: 2px solid white;
    padding: 2px;
    border-radius: 20px;
    background-color: black;
}



.artigo {
    position: relative;
    top: 20px;
    left: 200px;
    display: inline-table;
    text-decoration: none;

}

.out {

    list-style: none;
    color: white;
    text-shadow: none;
    line-height: 30px;
}

.texto {
    font-size: 18px;
    color: white;
}

.texto:hover {
    text-decoration: underline;
    color: white;

}

.codigo {
    color: yellow;
    cursor: cell;
}

.link1 {
    color: purple;
    text-decoration: none;
}

.link1:hover {

    text-decoration: underline;

}

.link2 {
    text-decoration: none;
    color: white;
}

.link2:hover {
    text-decoration: underline;

}

.link3 {
    text-decoration: none;
    color: red;
}

.link3:hover {
    text-decoration: underline;

}

.link4 {
    text-decoration: none;
    color: aqua;
}

.link4:hover {
    text-decoration: underline;

}

.blue {
    color: blue;

}

.escrever {
    position: relative;
    width: 1000px;
}



.borda {

    border-top: 1px solid #30363d;
    margin: 0px 100px;

}
.final2 {
    color: #58a6ff;
    margin: -20px 222px;
    font-size: 12px;
    display: inline-flex;
    cursor: pointer;
    list-style: none;
}


.final {
    margin-left: -100px;
    color: #8b949e;
    font-size: 12px;
    pointer-events: none;
}


.final3 {
    color: #58a6ff;
    margin-left: 12px;
    text-decoration: none;

}

.final3:hover {


    border-bottom: 1px solid #58a6ff;
}








:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    text-decoration: none;
    color:white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    width: 130px;
  position: relative;
   top: -40px;
    background: #162447;

    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-align: center;
}

.menu .btn{
    display:block;
    padding: 1rem;
    border-bottom: solid 1px #1b1b2f;
    background-color: rgb(1, 4, 9);
  
    position: relative;
}

.menu .submenu {
    background: #1b1b2f;
    overflow: hidden;
    max-height: 0;
    transition: max-height .8s ease-out;
}

.menu .submenu a{
    display:block;
    padding: 1rem;
    position: relative;
}

.menu .submenu a::before{
    content:'';
    display:block;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    background: #e43f5a;
    opacity: 0;
    transition: all .5s;
}

.menu .submenu a:hover{
    padding-left: calc(1rem + 5px);
}

.menu .submenu a:hover::before{
    opacity: 1;
}

.item:target .submenu{
    max-height: 20rem;
}


.menu1{

position: relative;
background-color: transparent;

}








@media(max-width:1200px) {

    header {
        position: relative;
        pointer-events: none;
    }



    #title1 {
        color: red;
        font-style: oblique;
        margin-left: 183px;
        cursor: pointer;
        position: relative;
        top: -9px;
        width: 30px;
        animation: infinite infinito2 6s;


    }


    .aparecer {
        display: grid;
        width: 40px;
        box-shadow: 2px 2px 33px black;
        position: relative;
        top: -35px;
        left: 2px;
    }

    .menu-sidebar li {
        position: relative;
        display: block;
        width: 400px;
    }

    #title2 {


        color: white;
        font-style: oblique;
        margin-top: -28px;
        margin-left: 220px;
        position: relative;
        top: -7px;
        cursor: pointer;
        width: 49px;
        animation: infinite infinito 3s;


    }



    .artigo {
        position: relative;
        top: 20px;
        left: 22px;
        display: inline-table;
        text-decoration: none;
        font-size: 12px;


    }

    .titulo {
        background-color: #010409;
        position: -ms-page;
        top: 10px;
        font-size: 12px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        color: white;
        text-align: center;
        padding: 17px;
        padding-right: 40px;
        cursor: pointer;
    }

 

    .texto {
        font-size: 12px;
        color: white;
    }



    .escrever {
        position: relative;
        width: 320px;
    }


.img1{

    width: 400px;
    height: 200px;
}



}