* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
body {
  background-color: darkgrey;
}

header {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
}
.item-01,
.item-03 {
  font-size: 25px;
  flex-basis: 100%;
  background-color: white;
  border: 2px solid black;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 100px;
  gap: 20px;
  align-content: center;
}
.item-02 {
  width: 350px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
