* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  transition: 0.6s;
}
button:hover {
  border-color: #f04;
}
.botoes {
  display: flex;
  gap: 10px;
}
