* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.845);
  justify-content: space-between;
}

.img {
  display: flex;
  flex-basis: 240px;
  align-items: flex-end;
  justify-content: flex-end;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
}
nav > a {
  text-decoration: none;
  color: darkgray;
  display: flex;
  padding: 10px;
  transition-duration: 1s;
}
nav > a:hover {
  color: hsl(0, 34%, 59%);
}

br + h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.itens-01,
.itens-02,
.itens-03 {
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 60px;
}
.item-01,
.item-02,
.item-03,
.item-04,
.item-05,
.item-06,
.item-07,
.item-08,
.item-09 {
  width: 40vh;
  height: 50vh;
  background-color: rgba(169, 169, 169, 0.459);
  border-radius: 5%;
  transition: 0.8s;
}
.item-01:hover,
.item-02:hover,
.item-03:hover,
.item-04:hover,
.item-05:hover,
.item-06:hover,
.item-07:hover,
.item-08:hover,
.item-09:hover {
  box-shadow: 2px 3px 13px black;
}
.img-01 {
  height: 140px;
  background-image: url("/img/boxe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-02 {
  height: 140px;
  background-image: url("/img/crossfit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-03 {
  height: 140px;
  background-image: url("/img/natacao.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}

.img-04 {
  height: 140px;
  background-color: red;
  background-image: url("/img/roupas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-05 {
  height: 140px;
  background-color: red;
  background-image: url("/img/basquete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-06 {
  height: 140px;
  background-color: red;
  background-image: url("/img/corrida.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-07 {
  height: 140px;
  background-color: red;
  background-image: url("/img/surf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}

.img-08 {
  height: 140px;
  background-color: red;
  background-image: url("/img/trilha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}
.img-09 {
  height: 140px;
  background-color: red;
  background-image: url("/img/tenis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}

@media (max-width: 912px) and (min-width: 630px) {
  .item-03,
  .item-06,
  .item-09 {
    margin: 0px 150px;
  }
}
