* { 
  box-sizing: border-box;
  margin: 0;
}
#container {
  display: flex;
  width:  80%;
  margin: 50px auto;
  background-color: #ddd;
  border-radius: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  text-align: center;
}
ul{
  list-style: none;
}
.botoes { 
  display: flex;
  gap: 20px;
}
[value ="ADICIONAR" ] {
  background-color: green;
  border: 0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
[value = "REMOVER"] { 
  background-color: red;
  border: 0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

article#players {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
article div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}