/* Layouts */
.container-template-flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-template-flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.container-template-block {
  display: block;
}
.container-template-none {
  display: none;
}
/* flex-wrap */
.nowrap {
  flex-wrap: nowrap;
}
