:root {
  --bg-color: #242424;
  --input-bg-color: #ddd;
  --font-color-1: #fff;
  --font-color-2: #242424;
  --btn-bg: #fff;
  --bg-color-add: #00ff00;
  --bg-color-remove: #ff0000;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
nav ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
}

main {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Bank {
  display: grid;
  height: 500px;
  padding: 20px;
  transition: 0.4s ease-in-out;
  row-gap: 20px;
}
#title h1 {
  text-align: center;
  color: var(--font-color-1);
}

#DisplayInformation {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#AddSaldo,
#RemoveSaldo,
#DisplaySaldo {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  gap: 10px;
  margin: 0px 20px;
}

label {
  color: var(--font-color-1);
}

input[type="text"],
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"] {
  background-color: var(--input-bg-color);
  color: #242424;
}

button {
  background-color: var(--btn-bg);
  color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body[data-theme="dark"] button:hover {
  background-color: var(--input-bg-color);
  color: var(--bg-color);
}

#copy {
  background-color: var(--font-color-1);
  color: var(--font-color-2);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#DisplayInformation .Add {
  background: var(--bg-color-add);
  color: #fff;
  padding: 10px;
}

#DisplayInformation .Remove {
  background: var(--bg-color-remove);
  color: #fff;
  padding: 10px;
}

@media (max-width: 768px) {
  #AddSaldo,
  #RemoveSaldo,
  #DisplaySaldo {
    grid-template-columns: 1fr;
  }
}
