/* Fontes */
@import url("https://joaopedrosarmento.github.io/portfolio/fontes/fontes.css");
$bg-color-dark: #1b1b1b;
$color-white: #fff;
$color-dark: #1f1f1f;
$color-gray: #dddd;

/* Funções para facilitar troca de cor */
@function colorWhite() {
  @return $color-white;
}
@function colorDark() {
  @return $color-dark;
}
@function transicao() {
  @return all 0.4s linear;
}
/* Zera tudo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", "Chivo Mono", sans-serif;
  color: colorWhite();
}
/* Mudando cor de fundo do scrollbar e width*/
body::-webkit-scrollbar {
  width: 7px;
  height: 12px;
  background: #1f1f1f;
}
/* Mudando cor de fundo do scroll*/
body::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 5px;
}
/* Leveza ao clicar em um link*/
html {
  scroll-behavior: smooth;
}
/* herdar display flex de vários elementos */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
/* Definindo imagem de fundo e tamanho da sessão incial ao lado do header*/
.section-background-image {
  min-width: 800px;
  background: url("./img/floresta.png") no-repeat;
  background-size: cover;
  /* Cabeçalho*/
  #header {
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: background-color 0.5s linear;
    @extend .flex;
    justify-content: space-between;
    gap: 20px;
    background: #00000093;
    backdrop-filter: blur(25px);
    backdrop-filter: 35px;
    padding: 0px 20px;
    min-height: 110px;
    max-height: 110px;
    color: colorWhite();
    /* Título principal*/
    h1 {
      cursor: pointer;
      transition: transicao();
      &:hover {
        transform: scale(1.07);
      }
    }
    /* Navegação*/
    .nav-bar {
      @extend .flex;
      .list-links {
        display: flex;
        gap: 10px;
        list-style: none;
        a {
          transition: transicao() ();
          text-decoration: none;
          color: colorWhite();
          padding: 10px;
          background: colorDark();
          &:hover {
            background: $color-gray;
            color: $color-dark;
          }
        }
      }
    }
  }
  /* Sessões */
  .section-template-flex {
    @extend .flex;
    gap: 3em;
    padding: 40px;
    .div-template-flex {
      @extend .flex;
      transition: transicao();
      flex-direction: column;
      background: #00000093;
      cursor: pointer;
      backdrop-filter: blur(30px);
      padding: 30px 20px;
      border-radius: 5px;
      gap: 10px;
      &:hover {
        transform: scale(1.02);
        backdrop-filter: blur(0px);
      }
    }
  }
  .padding {
    padding: 120px;
  }
  .button {
    @extend .flex;
    width: 100%;
    button {
      transition: transicao() ();
      width: 200px;
      max-width: 500px;
      cursor: pointer;
      background: #0505058a;
      border: 0;
      padding: 15px 50px;
      color: $color-white;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/* main*/
#main {
  .section-template-flex {
    min-width: 800px;
    background: $color-dark;
    color: $color-white !important;
    @extend .flex;
    justify-content: end;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: #1b1b1b;
  }
  .div-template-flex-inline {
    @extend .flex;
    flex-wrap: nowrap;
    align-items: start;
    figure {
      img {
        /* Definindo min e max de largura da imagem -> 500px*/
        min-width: 500px;
        max-width: 500px;
        cursor: pointer;
        border: 1px solid $color-white;
      }
    }
    /* Sessão de projetos*/
    .sobre-projeto {
      width: 100%;
      .projeto {
        .width-768 {
          display: none;
        }
        display: grid;
        justify-content: center;
        gap: 20px;
        padding: 20px;
      }
    }
  }
  a,
  .extend-a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #1b1b1b;
  }
  figure a {
    @extend .extend-a;
    display: none;
  }
}

/* menu ativado */
.menu-disable{
  display: none;
[alt="menu"] {
  position: relative;
  width: 50px;
  left: 0px;
  z-index: 1;
  border-radius: 10px;
}
}

/* Alterando o layout dos projetos para resoluções menores */
/* Alterações  feitas em: .section-template-flex, .div-template-flex-inline */
@media (max-width: 768px) {
  .display-menu {
    transition: all 0.4s;
    @extend .flex;
    width: 300px;
    padding: 20px;
    justify-content: center;
    position: fixed;
    top: 120px;
    left: 30%;
    background-color: $bg-color-dark;
    z-index: 1;
    border-radius: 20px;
    .list-menu {
      display: grid;
      gap: 10px;
      list-style: none;
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
  .menu-disable{
    display: block;
  }
  .list-links {
    display: none !important;
  }
  .div-template-flex-inline {
    /* !important para trocar o nowrap pro wrap */
    flex-wrap: wrap !important;
  }
  /* Invertendo a ordem da imagerm com o texto, imagem para baixo (order-2) e texto para cima da imagem (order-1)*/
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  figure {
    display: grid;
    gap: 20px;
    .width-768 {
      display: block !important;
    }
  }
  .width-maior-que-768 {
    display: none;
  }
}
