h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

p {
  font-size: 0.9rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }
}
