    body{
    background-color: #0d1117;

}

header{
background-color: #161b22;
padding: 10px;
text-align: center;

}

*{
    margin: 0;
    padding: 0;
}

.titulo1{

color: white;
position: relative;
left: -60px;
font-family: 'pacifico';
animation: neon 5s infinite;
}

@keyframes neon {
0%,39%,41%,59%,61%,100%{

text-shadow:
white 0 0 12px,
rgb(27, 27, 47) 0 0  24px,
black 0 0  2px,
white 0 0 9px,
#6e7681 0px 0px 22px
;

}

40%,60%{
text-shadow: none;

}

    
}

.titulo1:hover{

text-decoration: underline;
}







*{
    text-decoration: none;
    color:white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu{
    width: 300px;
    height: auto;
    background: #162447;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: relative;
    top: 100px;
    left: 450px;
    box-shadow: 2px 2px 33px  black;
 
}

.menu .btn{
    display:block;
    padding: 1rem;
    border-bottom: solid 1px #1b1b2f;
    border-top: solid 1px #1f4068;
    position: relative;
}

.menu .submenu {
    background: #1b1b2f;
    overflow: hidden;
    max-height: 0;
    transition: max-height .8s ease-out;
}

.menu .submenu a{
    display:block;
    padding: 1rem;
    position: relative;
}

.menu .submenu a::before{
    content:'';
    display:block;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    background: #e43f5a;
    opacity: 0;
    transition: all .5s;
}

.menu .submenu a:hover{
    padding-left: calc(1rem + 5px);
}

.menu .submenu a:hover::before{
    opacity: 1;
}

.item:target .submenu{
    max-height: 20rem;
}


@media(max-width:1200px)

{


    .menu{
        width: 300px;
        height: auto;
        background: #162447;
        border-radius: 22px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        position: relative;
        top: 100px;
        left: 300px;
        box-shadow: 2px 2px 33px  black;
     
    }
    .titulo1{

        color: white;
        position: relative;
        left: -0px;
        font-family: 'pacifico';
        animation: neon 5s infinite;
        }
        
    


}


@media(max-width:900px)

{


    .menu{
        width: 300px;
        height: auto;
        background: #162447;
        border-radius: 22px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        position: relative;
        top: 100px;
        left: 200px;
        box-shadow: 2px 2px 33px  black;
     
    }
    .titulo1{

        color: white;
        position: relative;
        left: 10px;
        font-family: 'pacifico';
        animation: neon 5s infinite;
        }
        
    


}


@media only screen and (max-width: 600px)
{


    .menu{
        width: 300px;
        height: auto;
        background: #162447;
        border-radius: 22px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        position: relative;
        top: 100px;
        left: 100px;
        box-shadow: 2px 2px 33px  black;
     
    }
    .titulo1{

        color: white;
        position: relative;
        left: -10px;
        font-family: 'pacifico';
        animation: neon 5s infinite;
        }
        
    
}