/* Definindo a do texto */

.vermelho-1 {
  color: var(--vermelho-1);
}
.vermelho-2 {
  color: var(--vermelho-2);
}

.branco-1 {
  color: var(--cor-texto);
}

.preto-1 {
  color: var(--preto-1);
}
.preto-2 {
  color: var(--preto-2);
}
.preto-3 {
  color: var(--preto-3);
}
.preto-4 {
  color: var(--preto-4);
}

.preto-5 {
  color: var(--preto-5);
}
