@import "./colors/colors.scss";
*   
{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header
{
    background-color: $color-dark-gray;
    min-height: 90px;
    
    .box 
    {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        padding: 40px;
        
    }
     h2 
     {
          
       color: $color-white;
     }
     
     nav 
     {
       
        ul 
        { 
            display: flex;
            gap: 5px 20px;
            flex-wrap: wrap;
            justify-content: flex-end;
            list-style: none;
            li 
            {
                    a 
                    {
                        text-decoration: none;
                        color: $color-slate-blue;
                        transition: 0.6s;
                    &:hover 
                {
                    color: $color-crimson;
                }
                        
                }
              
            }
        }
     }
}

main 
{
    min-height: 83vh;
    width: 80%;
    background-color: $color-beige;
    margin: 0px auto;
   
    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 20px
    }
    .item 
    {

       width: 80%; 
       height: 200px;
       border: 1px solid $color-black;
       background-color: $color-white;
    }
}
