@import url("./fontes.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

::selection {
  background-color: #202123;
}
::-webkit-scrollbar {
  width: 8px;
}

body {
  display: flex;
  flex-flow: row;
  overflow-y: hidden;
  text-align: justify;
  min-height: 100vh;
  font-size: 17px;
}
.container1 {
  display: flex;
  flex: 1 0 800px;
  min-height: 100vh;
}
aside *,
main * {
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

aside {
  flex-basis: 80px;
  background: #1f1f1f;
}
main {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex: 1 0 500px;
  background: #121212;
  color: #fff;
  line-height: 40px;
  padding: 20px;
}

main h1 {
  cursor: pointer;
}
main p {
  font-size: 18px;
}
main strong {
  color: #f64348;
  padding: 8px;
  transition: 0.8s ease;
}
main strong span {
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.icons img {
  width: 30px;
  cursor: pointer;
  transition: 0.8s ease;
}

.icons img:hover {
  scale: 1.2;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
  margin: 15px;
}

.btn,
.btn {
  padding: 10px 20px;
  font-size: 15px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #f64348;
  border-radius: 5px;
  color: #fff;
  transition: 0.4s ease;
}
.btn:hover,
.btn:focus {
  background: #1f1f1f;
  color: #fff;
}
.btn:focus {
  box-shadow: 0px 0px 10px #f64348;
}

text {
  cursor: pointer;
  font-family: "Magra", sans-serif;
}

.rl{
  color: #f64348;
  writing-mode: vertical-lr;
}
@media (max-width: 676px) {
  body {
    overflow-y: scroll;
    flex-flow: column;
  }
  .rl{
    writing-mode: horizontal-tb;
  }
  .icons {
    justify-content: flex-start;
    padding: 10px;
    flex-direction: row;
  }
}