/* Definindo o tipo da fonte */

.font-josefin {
  font-family: "Josefin Sans";
}
.font-montserrat {
  font-family: "Montserrat";
}
.font-arial {
  font-family: "Arial";
}
.font-ubuntu {
  font-family: "Ubuntu";
}
.font-arimo {
  font-family: "Arimo";
}
.font-gruppo {
  font-family: "Gruppo";
}
.font-work {
  font-family: "Work Sans";
}
