@import url("../root/root.css");

#planos {
  cursor: grab;
}
.slide.ativado {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide.rl.ativado {
  animation: animacaoSlideDireitaParaEsqueda 2s forwards;
}
.slide.lr.ativado {
  animation: animacaoSlideEsquerdaParaDireita 2s forwards;
}

.slide.desativado {
  display: none;
}

.bola {
  width: 20px;
  height: 20px;
  padding: 1px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
}

.bola.ativado {
  background-color: var(--vermelho-2);
}

@keyframes animacaoSlideDireitaParaEsqueda {
  from {
    transform: scaleX(1) scaleY(1) scaleZ(3) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(100%) translateY(0px) translateZ(0px)
      skewX(0deg) skewY(0deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes animacaoSlideEsquerdaParaDireita {
  from {
    transform: scaleX(1) scaleY(1) scaleZ(3) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translateX(-100%) translateY(0px) translateZ(0px)
      skewX(0deg) skewY(0deg);
  }
  to {
    transform: translateX(0);
  }
}
