/* seções e cores */
@mixin sectionEstilos {
  width: 100vw;
  line-height: 30px;
  border-top: 1px solid var(--cor-cinza-2);
  border-bottom: 1px solid var(--cor-cinza-2);
  gap: 15px;
}
.section-bg-preto-1 {
  @include sectionEstilos();
  background: var(--cor-preto-1);
}
.section-bg-preto-2 {
  @include sectionEstilos();
  background: var(--cor-preto-2);
}
.section-bg-preto-3 {
  @include sectionEstilos();
  background: var(--cor-preto-3);
}
.section-bg-preto-4 {
  @include sectionEstilos();
  background: var(--cor-preto-4);
}
.section-bg-preto-5 {
  @include sectionEstilos();
  background: var(--cor-preto-5);
}
.section-menu {
  position: fixed;
  top: 80px;
  border-radius: 10px;
  z-index: 1;
  right: 10px;
  width: 200px;
  padding: 10px;
  background-color: var(--cor-fundo-header-footer);
  border: 1px solid var(--cor-cinza-2);
}
