/* Alinhamento dos itens de um flexbox */

.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-inherit {
  align-items: inherit;
}
@media (max-width: 600px) {
  .align-items-center-media-query-600px {
    align-items: center;
  }
}
